body,div,table,tr,td{
    margin: 0;
    padding: 0;
}
.chess-board {
    position: relative;
    width: 421px;
    box-sizing: border-box;
    height: 421px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -210.5px;
    margin-left: -210.5px;
    // transform: translate(-50%, -50%);
}
.chess-board table {
    background: #f0c287;
    border-collapse: collapse;
    border: none;
}
.chess-board td {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #666;
}

.chess-piece {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px #666;
}

.chess-piece.white {
    background: #eee;
    border: 1px solid #f2f2f2;
}

.chess-piece.black {
    background: #666;
    border: 1px solid #666;

}

#playBtn {
    position: absolute;
    cursor: pointer;
    width: 120px;
    height: 60px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    bottom: -80px;
    left: 50%;
    margin-left: -60px;
}
.play {
    background: rgb(81,177,181);
}
.pause {
    background: red;
}
